@media (max-width: 991px) {

    /* responsividade */
    html {
        font-size: 55%;
    }

    .home h3 {
        font-size: 3rem;
    }

    .seguranca h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    #img-leis {
        display: none;
    }

    .textini {
        font-weight: 200;
        font-size: larger;
    }
}
@media (max-width: 576px){
    .accordion-button{
        font-size: small;
    }
}


@media (max-width: 576px) {
    #header {
        margin-bottom: 10px;
    }

    #epi {
        margin: 15px;
    }

    #leis {
        margin: 15px;
    }

    #prof {
        margin: 15px;
    }

    #header .nav-link {
        font-weight: 300;
        font-size: small;

    }
}

@media (max-width: 768px) {
    #img-jr {
            display: none;
        }
    .header {
        padding: 2rem;
    }

    .header.active {
        padding: 2rem;
    }

    .header #menu-btn {
        display: inline-block;
    }

    .header #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        padding: 1rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .nav.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .nav a {
        color: #000;
        margin: 1rem 2rem;
    }
}
@media (max-width: 576px) {
#rodape .nav-link {
font-size: small;
color: #000;
margin-right: 15px;
}
}